.apartment_hero {
    width:100%;
    height: 610px;
    // background-image: url('../img/apartments.jpg');
    background-attachment: fixed;
    
    text-align: center;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
  }


  .main_header{
    color: white;
}