.chatModalContainer{
    background-color: white;
    height: 550px;
    width: 340px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.35) 0px 5px 15px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.button-close{
    border: none;
    background: transparent;
    color: white;
    font-weight: 500;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: larger;
}


.chat-header-text {
display: flex;
  height: 80px;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: rgb(106, 163, 162);
  padding: 20px;
  border-radius: 5px;
}

#text-area {
    width: 100%;
    height: 80px;
    border: none;

}

#text-area:focus {
    outline: none;
}

#chat-content {
    flex: 1 1 0px;
    padding-top: 20px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: rgb(240,246,246);
    border: none;
}

#chat-content:focus {
    outline: none;
}

.buttonIn {
    border: none;
    width: 100%;
    display: flex;
}

.buttonIn:focus {
    outline: none;
}


.sendMessage {
    height: 50px;
    width: 80px;
    margin:15px;
    border:none;
    background-color:rgb(106, 163, 162);
    color:white;
    font-weight: 600;
}

.sendMessage:active {
    transform: translateY(4px);
}