
.chat-button{
    color: white;
    height: 56px;
    width: 200px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 25px;
    margin-bottom: 25px;
    background-color:rgb(106, 163, 162) ;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;;
    object-fit: cover;
    
}

.chat-button:hover{
    cursor: pointer;
}

.user-logo{
    height: 30px;
    width: 30px;
    margin-top: 5px;    
}

.button-chat-text{
    margin: 0;
    margin-left: 10px;
}
