
.main__content {
    background-color: rgb(255,255,255);
    width: 980px;
    margin: -70px auto 0;
    margin-bottom: 0;
}

.section__title {
    text-align: center;
    font-size: 28px;
    padding: 40px;
    color: var(--color1);
}

.section__p {
    color: var(--color1);
    font: var(--font_8);
    text-align: center;
    padding: 60px 90px;
}

.section__1__left {
    width: 100%;
    display: flex;
    height: auto;
}

#our_apartment {
    width: 330px;
    background-color: var(--color_24);
}

#our_apartment span {
    display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  font-size: 28px;
  color: white;
}

.section__1__right {
    width: 100%;
    display: flex;
}

.section__1__right span {
    padding: 80px 80px;
    font: var(--font_8);
    color: var(--color1);
}

.section__1__right a {
    font: var(--font_8);
    color: var(--color_24);
    text-decoration: none;
    position: relative;
    top: 60px;
}

.white-space {
  height: 70px;
  background-color: rgb(229,235,237);
}

#location {
  background-color: var(--color_24);
  float: right;
  width: 330px;
  height: 277px;
  text-align: center;
}

#location span {
    font-size: 28px;
    color: white;
    position: relative;
    top: 100px;
}

.section__2__second p {
    line-height: 1.4em;
    text-align: center;
    font-size: 15px;
    margin: 70px auto;
    width: 561px;
    font: var(--font_8);
    color: var(--color1);
}

.section__2__second a {
    font: var(--font_8);
    color: var(--color_24);
    text-decoration: none;
    margin-right: 100px;
    white-space: nowrap;
    position: relative;
    left: 450px;
    bottom: 40px;
}

.section__2_third {
    background-color: var(--color_24);
    float: right;
    width: 645px;
    height: 364px;
    padding: 10px 70px;
}


.section__2_third h4 {
    color: white;
    text-align: start;
    position: relative;
    top: 50px;
    font: var(--font_4);
}

.section__2_third span {
    line-height: 1.4em;
    font-size: 15px;
    color:white;
    position: relative;
    top: 90px;
}

.section__2_third a {
    font: var(--font_8);
    color: rgb(255,255,255);
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    top: 150px;
    right: 170px;
}

.section__2_third a:hover {
    color: var(--color_15);
    transition: var(--trans,color .4s ease 0s);
}
